<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li>
        <a routerLink='/'>Home</a>
      </li>
      <li><a routerLink='/orders'>Orders</a></li>
    </ul>
  </div>
  <!-- <button routerLink="/orders">Orders</button>
  <button routerLink="/">Home</button> -->
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>
